*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: $regular;
	color: $white;
}
.body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $black;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
a{
	text-decoration: none;
}
@media only screen and (min-width:767px){
	.container{
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}