//colors
$black      : #161B1E;
$dark-grey  : #3E3E3E;
$grey       : #C4C4C4;
$yellow     : #FED136;
$light-grey : #E5E5E5;
$white      : #fff;
//fonts
$bold            : 'open_sansbold';
$boldItalic      : 'open_sansbold_italic';
$extraBold       : 'open_sansextrabold';
$extraBoldItalic : 'open_sansextrabold_italic';
$italic          : 'open_sansitalic';
$light           : 'open_sanslight';
$lightItalic     : 'open_sanslight_italic';
$regular         : 'open_sansregular';
$semiBold        : 'open_sanssemibold';
$semiBoldItalic  : 'open_sanssemibold_italic';
