section
    .container
        include info
        .steps
            .bar
            .circle_steps
                a(href="javascript:void(0)").box-button.active
                    .circle 1
                    span Tipo de negocio
                .box-button
                    .circle 2
                    span Información del solicitante
                .box-button
                    .circle 3
                    span Confirmación
        .type 
            p Usted...
            a(href="empresas.html") Trabaja en una Empresa
                i.fas.fa-chevron-right
            a(href="persona-natural.html") Tiene una idea de negocio digital
                i.fas.fa-chevron-right