section
    .container
        .steps
            .bar
            .circle_steps
                a(href="").box-button.active
                    .circle 1
                .box-button
                    .circle 2
                .box-button
                    .circle 3
        .type 
            p Usted es:
            a(href="empresas.html") Empresas
                i.fas.fa-chevron-right
            a(href="persona-natural.html") Persona Natural
                i.fas.fa-chevron-right